<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <div>
      <h1>Contact Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae,
        beatae pariatur assumenda adipisci aperiam nisi dolores aliquid,
        accusamus repellat incidunt, laboriosam quod eum et! Inventore
        asperiores at reiciendis modi?
      </p>
    </div>
  </body>
</html>
